{% extends "baseline.html" %}
{% block title %}Home{% endblock %}
{% block content%}

<section>
    <ul class="display-deck-view">
        {% for deck_name in decks_names %}
        {% if deck_name != None %}
        <ul><a href="{{ url_for('body.display_flashcard', deck_name=deck_name) }}">
            <button class="deck-buttons" type="button">
                {{ deck_name.lower() }}
            </button>
        </a></ul>
        {% endif %}
        {% endfor %}
    </ul>
</section>

{% endblock %}