{% extends "baseline.html" %}
{% block title %}Home{% endblock %}
{% block content%}

<section>
    <ul class="display-deck-view">
        {% for deck_name, daily_rating in decks.items() %}
        {% if deck_name != None %}
        <ul><a href="{{ url_for('body.display_flashcard', deck_name=deck_name) }}">
            <button class="deck-buttons" type="button">
                <div class="deck-name">{{ deck_name.lower() }}</div>
                <div class="rating">{{ daily_rating }} flashcards left to review</div>
            </button>
        </a></ul>
        {% endif %}
        {% endfor %}
    </ul>
</section>

{% endblock %}

