{% extends "baseline.html" %}
{% block title %}Login{% endblock %}
{% block content%}
<section class="authentication-box">
    <form method="POST">
        <h3 class="authentication-title">SignUp</h3>
        <div class="one-item-box">
            <label class="input-label" for="email">Email</label>
            <input
                    class="input"
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Enter your email here"
            />
        </div>
        <div class="one-item-box">
            <label class="input-label" for="first_name">First name</label>
            <input
                    class="input"
                    type="text"
                    id="first_name"
                    name="first_name"
                    placeholder="Enter your first_name here"
            />
        </div>
        <div class="one-item-box">
            <label class="input-label" for="username">Username</label>
            <input
                    class="input"
                    type="text"
                    id="username"
                    name="username"
                    placeholder="Enter your username here"
            />
        </div>
        <div class="one-item-box">
            <label class="input-label" for="password">Password</label>
            <input
                    class="input"
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Enter your password here"
            />
        </div>
        <div class="one-item-box">
            <label class="input-label" for="password2">Password (Confirm)</label>
            <input
                    class="input"
                    type="password"
                    id="password2"
                    name="password2"
                    placeholder="Enter your password again"
            />
        </div>
        <br>
        <div class="one-item-box">
            <button type=submit class="authentication-submit-button">Submit</button>
        </div>
    </form>
</section>

{% endblock %}